<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.983021958103-6sjr25jbfba11tguvlllpano1ce0knn9</string>
				<string>fb1223031201727551</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Gratina.otf</string>
	</array>
	<key>FacebookAppID</key>
	<string>1223031201727551</string>
	<key>FacebookClientToken</key>
	<string>177d902576e94c7cdd95eaf283263569</string>
	<key>FacebookDisplayName</key>
	<string>Flow Talk</string>
	<key>GIDClientID</key>
	<string>983021958103-6sjr25jbfba11tguvlllpano1ce0knn9.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>voip</string>
		<string>processing</string>
		<string>push-to-talk</string>
		<string>voip</string>
	</array>
</dict>
</plist>
